/* create-quiz.css */
body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1.heading {
    color: #f5a623;
}

.quiz-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group, .question-block {
    width: 100%;
    margin-bottom: 20px;
}

.quiz-form label {
    color: #f5f5f5;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    text-align: left;
}

.quiz-form input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: calc(100% - 20px);
    margin-bottom: 10px;
    background: #fff;
    color: #1e1e1e;
    font-size: 14px;
}

.btn {
    background-color: #f5a623;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #1e1e1e;
}

.btn:hover {
    background-color: #e5941e;
}
